body {
  text-align: center;
  /* background-color: #FFF3EF; */
  background-color: #fff8e8;
  font-size: 100%;
  font-family: Raleway
}

h1 {
    max-width: 100%;
    margin: auto;
    text-align: left;
    font-size: 220%;
    /* color: #412121; */
    color: #4E7CBB;
    padding: 10px;
    /* font-family:Georgia, 'Times New Roman', Times, serif */
/*     font-family:'Trebuchet MS'; */
}

.subtitle {
  max-width:55%;
  margin:auto;
  text-align: center;
/*   font-family:'Trebuchet MS'; */
  color: #CA9090;
  font-size: 130%;
}

.bodytext {
    max-width: 60%;
    margin: auto;
    text-align: justify;
    font-size: 100%;
}

.buttons {
    text-align: center;
    padding: 0.5% 0%;
    margin: 0%, 5%;
}

img {
    float: right;
    padding: 3% 10% 2% 3%;
}

.button_style {
  background-color: #EC6B62;
  margin: 2% 0.4%;
  color: whitesmoke;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 120%;
/*   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

/* mouse over link */
.button_style:hover {
    background-color: #412121 !important;
    color: whitesmoke;
/*     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

a {
/*   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  color: #EC6B62;
}

a:hover{
  color: #412121;
}

.header {
    padding: 0.5%;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
/*     font-family:'Trebuchet MS'; */
    text-align: center;
    /* color: #d52941; */
    color: #50514f;
    font-size: 270%;
  }
